.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.answers button {
    background: #fff;
    margin: 2px;
    width: 250px;
    height: 250px;
    font-size: 30px;
}

.fs100 {
    font-size: 100px !important;
}

.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
